.App {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: 1px 2px 1px 2px #ccc;
  border-radius: 10px;
  width:80%;
  margin:50px auto 10px;
  padding: 2%;
  background-color: #f3f3b8;
  text-align: center;
  border: 1px solid #000;
  font-size: 1em;
  font-family: Helvetica; 
  color:  #052707;
}

#input-items {
  margin: auto;
  width: 60%;
  padding: 5%;
  background-color: #f1f18d;
  margin-bottom: 2%;
  border: 1px rgba(141, 141, 55, 0.1) solid;
}

#output-items {
  margin: 5px auto;
  width: 60%;
  padding: 5%;
  text-align: left;
  background-color: #f1f18d;
  border: 1px rgba(141, 141, 55, 0.1) solid;
}

#output-items label {
  width: 60%;
  font-weight: 700;
  padding-top: 5%;
}

ol li {
  text-align: left;
  margin-bottom: 1em;
}

#display-chars {
  width: 90%;
  text-align: center;
  margin: 5px auto;
  background-color: #ebeb63;;
}
